@model WITU.Models.Result.ProgressionForm

@{
    ViewBag.Title = "Student's Progression";
}

<div>
    <h2 class="blueHeader">Progression</h2>
    
    <div>
        <p>
            Please specify the following fields.
        </p>
        
        @Html.Partial("_ProgressionForm", Model)
        
    </div>
</div>