
<footer class="footer-div" role="banner">
    <div class="container ">
        <div class="footerDiv">
            <ul class="horlist">
                <li class="noborder copyright">&copy; <a href="#" target="_blank">WITU</a> @DateTime.Now.Year</li>
                <li class="noborder"><a href="#" target="_blank">Terms of Service</a></li>
                <li><a href="#" target="_blank">Privacy Policy</a> </li>
                <li>
                    <a href="#">Help Center</a>
                </li>
            </ul>

        </div>
    </div>
</footer>
