
@model WITU.Models.Courses.CourseModel
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCourse</title>
</head>
<body>
    <div> 
        <h1>@Model.Course.Name</h1>
    </div>
</body>
</html>
