@{ ViewBag.Title = "Staff Accountz";}

<h2 class="blueHeader">Staff Accountz</h2>

<div class="table-responsive ">
    <table id="serverSideStaffTable" class="table">
        <thead>

            <tr>
                <th>
                    ID
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Position(s)
                </th>
                <th>
                    Courses
                </th>
                
                <th>
                    Email
                </th>
                <th>
                    Phone Number
                </th>

            </tr>

        </thead>
        <tbody>
        </tbody>
    </table>

</div>
