
@{
    ViewBag.Title = "Prospective Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prospective Student</h2>

<p>
    Landing page for Prospective Students. This shall change accordingly.
</p>

